name: deployment test
on: [ workflow_dispatch ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Get code
      uses: actions/checkout@v3
    - name: Install dependencies
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Test code
      run: npm run test
    - name: Build my code
      run: npm run build
    - name: deploy code
      run: echo "Deploying code but fake...."
